# Thư viện Telegram
pyTelegramBotAPI>=4.12.0
telethon>=1.28.0  # Thêm mới để hỗ trợ tải lên file lớn hơn 50MB
cryptg>=0.2.post0  # Tăng tốc độ mã hóa cho Telethon
pyOpenSSL>=22.0.0  # Hỗ trợ SSL cho Telethon

# Xử lý giao diện
pillow>=9.0.0

# Xử lý video và hình ảnh
opencv-python>=4.6.0
imagehash>=4.3.1

# Đóng gói ứng dụng
pyinstaller>=5.6.2

# Xử lý video lớn
ffmpeg-python>=0.2.0

# Các tiện ích
tqdm>=4.64.0
configparser>=5.3.0
imageio>=2.9.0
numpy>=1.19.0

# Chuyển từ PyQt5 sang PyQt6
PyQt6>=6.4.0
PyQt6-Qt6>=6.4.0
PyQt6-sip>=13.4.0

requests>=2.25.0
psutil>=5.8.0 


# Thư viện kiểm thử
pytest>=7.3.1
pytest-qt>=4.2.0
pytest-cov>=4.1.0
mock>=5.0.0

