# Thư viện Telegram
pyTelegramBotAPI>=4.12.0
telethon>=1.28.0  # Thêm mới để hỗ trợ tải lên file lớn hơn 50MB

# Xử lý giao diện
pillow>=9.0.0

# Xử lý video và hình ảnh
opencv-python>=4.6.0
imagehash>=4.3.1

# Đóng gói ứng dụng
pyinstaller>=5.6.2

# Xử lý video lớn
ffmpeg-python>=0.2.0

# Các tiện ích
tqdm>=4.64.0
configparser>=5.3.0

PyQt5-Qt5>=5.15.0
PyQt5-sip>=12.8.0
PyQt5>=5.15.0